# 忽略所有日志文件
*.log
*.LOG
logs/

# 忽略所有编译生成的 .class 文件
**/*.class

# 忽略 Maven 的 target 目录
target/

# 忽略 Gradle 的 build 目录
build/

# 忽略 IntelliJ IDEA 的相关文件
*.iml
.idea/
*.ipt
*.iws
*.iwd

# 忽略 Eclipse 的相关文件
.classpath
.project
.settings/
.factorypath

# 忽略其他 IDE 的相关文件
*.launch
*.tmproj
*.tmp

# 忽略测试报告
test-output/

# 忽略构建工具生成的文件
*.jar
*.war
*.ear

# 忽略其他可能不需要的文件
*.swp
*.swo
